* {
  margin: 0;
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);

  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

@media (min-width: 480px) {
  main {
    background: url(images/background.svg) no-repeat center/cover;
    width: 100vw;
    min-height: 812px;
    height: 100vh;
  }
}

@media (min-width: 960px) {
  main {
    background: url(images/desktop.svg) no-repeat center/cover;
    width: 100vw;
    min-height: 812px;
    height: 100vh;
  }
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  color: var(--grey);
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;

  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.58rem; /* 1.5 no projeto */
  letter-spacing: 0.02em; /* espaço inserido entre letras (não está no projeto original) */
  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.5rem; /* 0.75 no projeto */

  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
  line-height: 1.8rem; /* espaço inserido antre linhas (não está no projeto original) */
}

ul {
  margin-top: 3rem; /* era 4rem no original */

  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}
/* Adicionado: */
.footer {
  margin-top: 3.5rem;
  position: relative;
}
.footer span {
  width: 15rem;
  height: 1.5rem;
  display: flex;
  justify-content: center;
  object-fit: cover;
}
.footer > img {
  height: 1.5rem;
  margin-top: 0.7rem;
  object-fit: cover;
}
